.links-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.links-color {
    color: white;
    background-color: #2a9;
}

.links-color:hover {
    color: white;
    background-color: rgb(36, 143, 130);
}

.navbar-bg-color {
    background-color: #24a594;
}

.nav-logo-color{
    color: white
}

.nav-link-color{
    color: white
}

.nav-toggler-color {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}