.DS_Store
**influxdb/database_files
**influxdb2.0/database_files
**grafana/grafana_data
/telegraf/nodemcu/sensor_values.html
/telegraf/nodemcu/telegraf
**/venv
/telegraf/nodemcu/telegraf_docker_my.conf
telegraf_sensor_data_my.conf
db.sqlite3