<nav class="navbar navbar-expand-lg navbar-dark navbar-bg-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Control app</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'room_list' %}">Rooms list</a>
          <a class="nav-link" href="{% url 'sensor_list' %}">Sensors list</a>
          <a class="nav-link" href="{% url 'device_list' %}">Devices list</a>
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
      <span class="navbar-text">
        {% if user.is_authenticated %}
          Hello, {{ user.username }}
          <a href="{% url 'users:logout'%}">Logout</a>
        {% else %}
          <a href="{% url 'users:login'%}">Log in</a>
        {% endif %}
        {% if user.is_staff %}
          <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
      </span>
    </div>
  </nav>