<h2 class="pt-2">Last collected values by boiler:</h2>
<ul class="list-group">
    <li class="list-group-item"><label>Radiators input water temp</label> <value>{{ tmp_in }}</value> °C</li>
    <li class="list-group-item"><label>Radiators output water temp</label> <value>{{ tmp_out }}</value> °C</li>
    <li class="list-group-item"><label>Domestic hot water temp</label> <value>{{ dhw_tmp }}</value> °C</li>
    <li class="list-group-item"><label>Domestic hot water coil temp</label> <value>{{ dhw_coil_temp }}</value> °C</li>
</ul>