{% extends "base.html" %}

{% block content %} 

<!-- TODO Add something like time before next query is available -->
<div class="container-fluid pt-2">
    <h1>
        {% if obj %} 
            Sensor {{ obj.sensor_id }}
        {% else %}
            Sensor {{ sensor_id }}
        {% endif %}
    </h1>
        
    <h2>Sensor information</h2>
    <!-- If obj is found for sensor_id it is in database used by django and has set location -->
    {% if obj %}
    <ul class="list-group">
        <li class="list-group-item"><label>Hostname:</label> <value>{{ obj.hostname }}</value></li>
        <li class="list-group-item"><label>Location:</label> <value>{{ obj.location }}</value></li>
        <li class="list-group-item"><label>Sensor type:</label> <value>{{ obj.sensor_type }}</value></li>
        {% if obj.room %}
            <li class="list-group-item">
                <label>Room:</label>
                <a class="btn btn-info" href="{% url 'room_detail' room_id=obj.room.id %}">
                    {{ obj.room }}</a>
            </li> 
        {% endif %}
        {% if obj.description %}
            <li class="list-group-item"><label>Description:</label> <value>{{ obj.description }}</value></li>
        {% endif %}
    </ul>
    {% else %}
        <p>This sensor has no location set.</a></p>
    {% endif %}
    
    {% if boiler_bool %}
        {% include "boiler_values.html" %}
    {% else %}
        {% include "sensor_values.html" %}
    {% endif %}
    <div class="d-flex justify-content-start mb-3 pt-4">
        <p>For historical values visit 
            <a class="badge bg-success text-decoration-none" href="http://grafanalab.westus.cloudapp.azure.com:3000">
                grafana website</a>
        </p>
    </div>
    <div class="d-flex justify-content-start mb-3">
        <a class="p-2 links-btn links-color" href="{% url 'sensor_list' %}">Back to sensor list</a>
    </div>
</div>
{% endblock content %}

