{% extends "base.html" %}

{% block content %}
<div class="container-fluid pt-2">
    <h1>This is HTML for sensor list</h1>
    <h2>Sensor without set location:</h2>
    {% if sensor_id_list_nonset %}
    <table class="table">
        <tr>
            <th scope="col">Sensor_id</th>
            <th scope="col">Hostname</th>
            <th scope="col">Sensor type</th>
            <th scope="col"><!-- Empty table header for formating --></th> 
            <th scope="col"><!-- Empty table header for formating --></th>
        </tr>
        {% for sensor_id in sensor_id_list_nonset %}
        <tr>
            <td scope="row">{{ sensor_id }}</td>
            <td>{{ hostname_dict|get_item:sensor_id }}</td> 
            <td>{{ sensor_type_dict|get_item:sensor_id }}</td>
            <td>
                <a class="p-1 btn btn-success" href="{% url 'sensor_create' sensor_id=sensor_id hostname=hostname_dict|get_item:sensor_id sensor_type=sensor_type_dict|get_item:sensor_id %}">
                Add location</a></td>
            <td><a class="p-1 btn btn-info" href="{% url 'sensor_detail' sensor_id=sensor_id %}">Sensor info</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no sensors without set location</p>
    {% endif %}
    <h2>Sensors with set location:</h2>
    {% if sensor_id_list_set %}
    <table class="table">
        <tr>
            <th scope="col">Sensor_id</th>
            <th scope="col">Hostname</th>
            <th scope="col">Location</th>
            <th scope="col">Room</th>
            <th scope="col"><!-- Empty table header for formating --></th>
            <th scope="col"><!-- Empty table header for formating --></th>
            <th scope="col"><!-- Empty table header for formating --></th>
        </tr>
        {% for sensor_id in sensor_id_list_set %}
        <tr>
            <td scope="row">{{ sensor_id.sensor_id }}</td>
            <td>{{ sensor_id.hostname }}</td>
            <td>{{ sensor_id.location }}</td>
            {% if sensor_id.room %}
            <td><a class="p-1 btn btn-secondary" href="{% url 'room_detail' room_id=sensor_id.room.id %}">
                {{ sensor_id.room }}</a>
            </td>
            {% else %}
            <td></td>
            {% endif %}
            <td><a class="p-1 btn btn-success" href="{% url 'sensor_update' sensor_id=sensor_id.sensor_id %}">Edit</a></td>
            <td><a class="p-1 btn btn-info" href="{{ sensor_id.get_absolute_url }}">Sensor info</a></td>
            <td><a class="p-1 btn btn-danger" href="{% url 'sensor_remove' sensor_id=sensor_id.sensor_id %}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no sensors with set location</p>
    {% endif %}
    
    <h2 class="pt-1">Boilers:</h2>
    {% if boiler_list %}
    <table class="table">
        <tr>
            <th scope="col">Sensor_id</th>
            <th scope="col">Hostname</th>
            <th scope="col">Location</th>
            <th scope="col"><!-- Empty table header for formating --></th>
            <th scope="col"><!-- Empty table header for formating --></th>
            <th scope="col"><!-- Empty table header for formating --></th>
            <th scope="col"><!-- Empty table header for formating --></th>
        </tr>
        {% for sensor_id in boiler_list %}
        <tr>
            <td scope="row">{{ sensor_id.sensor_id }}</td>
            <td>{{ sensor_id.hostname }}</td>
            <td>{{ sensor_id.location }}</td>
            <td><a class="p-1 btn btn-success" href="{% url 'sensor_update' sensor_id=sensor_id.sensor_id %}">Edit</a></td>
            <td><a class="p-1 btn btn-info" href="{{ sensor_id.get_absolute_url }}">Sensor info</a></td>
            <td><a class="p-1 btn btn-danger" href="{% url 'sensor_remove' sensor_id=sensor_id.sensor_id %}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no sensors with set location</p>
    {% endif %}
    <div class="d-flex justify-content-around mb-3">
        <a class="p-2 links-btn links-color" href="{% url 'room_list' %}">Back to room list</a>
        <a class="p-2 links-btn links-color" href="{% url 'home' %}">Back to main menu</a>
    </div>
</div>

{% endblock %}