{% extends "base.html" %}

{% block content %} 
<div class="container-fluid pt-4">
    <div class="d-flex justify-content-around mb-3">
        <form action="{% url 'sensor_remove' sensor_id=obj.sensor_id %}" method="POST"> {% csrf_token %}
            <h1>Comfirm removal of sensor id: <u>{{ obj.sensor_id }}</u></h1>
            <p>
                <label>Hostname:</label> 
                <value class="badge bg-secondary text-light text-decoration-none">{{ obj.hostname }}</value>
            </p>
            <p>
                <label>Location:</label> 
                <value class="badge bg-secondary text-light text-decoration-none">{{ obj.location }}</value>
            </p>
            {% if obj.room %}
            <p><label>Room:</label> 
                <a class="badge bg-info text-dark text-decoration-none" href="{% url 'room_detail' room_id=obj.room.id %}">
                {{ obj.room }}</a>
            </p>
            {% endif %}
            <div class="d-flex justify-content-around mb-3 pt-4">
                <input class="btn btn-danger" type="submit" value="Yes"> 
                <a class="btn btn-warning" href="{% url 'sensor_list'%}">Cancel</a>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}